.app-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  max-width: 1200px;
  grid-template-areas:
          "h h"
          "n c";

  grid-template-rows: 140px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
}